extends layout

block content
  h1= title
  p Welcome to #{title}

block content
  h1 User Creation Form
  form(action="/users", method="POST")
    label(for="username") Username:
    input(type="text", id="username", name="username", required)
    br
    label(for="email") Email:
    input(type="email", id="email", name="email", required)
    br
    button(type="submit") Submit

  h2 Get User by Username
    form(action="/users", method="GET")
      label(for="username") Enter Username:
      input(type="text", id="username", name="username", required)
      br
      button(type="submit") Get User

  h2 Delete User by Username
    form(action="/users/delete", method="POST")
      label(for="username") Enter Username:
      input(type="text", id="username", name="username", required)
      br
      button(type="submit") Delete User